/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.responsive-x-padding {
@apply px-4 sm:px-6 md:px-10 lg:px-20 xl:px-32 2xl:px-96
}

.responsive-color {
  @apply bg-violet-800 sm:bg-green-400 md:bg-teal-600 lg:bg-blue-600 xl:bg-red-700 2xl:bg-lime-400
}

.h1-responsive{
  @apply text-5xl md:text-7xl  lg:text-8xl xl:text-9xl 2xl:text-9xl xl:leading-[128px]
}


.h3-responsive{
  @apply text-3xl md:text-4xl  lg:text-4xl xl:text-5xl 2xl:text-5xl xl:leading-[60px]
}
.h4-responsive{
  @apply text-2xl md:text-3xl  lg:text-4xl xl:text-4xl 2xl:text-4xl
}


.blog-title {
  @apply text-base font-semibold
}

.text-responsive {
@apply text-[14px] md:text-base font-semibold
}

.isactive {
  @apply bg-primary rounded-lg text-purple-700
}
/* :root {sans-
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
